<h1>Posts</h1>

<ul class="list-unstyled">
  {{#each model as |post|}}
  <li>
    {{#link-to 'post' this}}
      {{post.title}}
    <span class="muted">
      by {{post.author.name}}
    </span>
    {{/link-to}}

  </li>
  {{/each}}
</ul>
